body {
    background-image: url(Assets/Images/background.jpg);
  }
  #work {
    background-color: white !important;
    margin-bottom: 20px;
  }
  #title {
    background-color: rgb(86, 169, 162);
    height: 100%;
    color: white;
  }
  #about {
    color: rgb(86, 169, 162);
  }
  * {
    font-family: serif;
  }
  .container {
    background-color: white;
    margin-left: 40px;
  }
  .row:first-child {
    border-bottom: 3px solid slategray;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  #header {
    height: 100%;
  }
  li {
      border-right: 1px solid lightgray;
  }
  li > a {
    color: gray;
  }
  li:last-child {
      border: none;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(102, 102, 102);
    color: white;
    text-align: center;
    border-top: 3px solid rgb(86, 169, 162);
  }
  img {
    max-width: 100%;
    height: auto;
  }
