body {
  background-image: url(Assets/Images/background.jpg);
}
#work {
  background-color: white !important;
  margin-bottom: 20px;
  padding: 0 16px;
}
#title {
  background-color: rgb(86, 169, 162);
  height: 100%;
  color: white;
  margin: 0 0 0 24px;
  padding: 10px 20px 10px 20px;
}
*:not(h1) {
  font-family: sans-serif;
}
h1 {
  font-weight: bold;
  font-family: serif;
}
.navbar-brand {
  padding: 0;
}
li {
  border-right: 1px solid lightgray;
}
li > a.nav-link {
  color: gray;
  padding: 0 16px;
}
li:last-child {
  border: none;
}
#content-title {
  color: rgb(86, 169, 162);
}
#content {
  background-color: white;
  margin: auto 0 auto 40px;
  width: 40%;
  padding: 0 30px;
}
.row {
  margin: 0 0 30px 0;
}
#head {
  border-bottom: 2px solid lightgray;
  margin: 0 auto 20px;
  padding: 20px 0 10px;
}
.col-sm {
  padding-left: 0;
}
.col-sm-6:first-child {
  padding-left: 0;
}
.col-sm-11 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-right: 0;
  height: 90px;
  position: relative;
}
.col-sm-11#Arsenal {
  background-image: url(Borrowed-images/Arsenal_logo_crest_logotype.png);
}
.col-sm-11#Chelsea {
  background-image: url(Borrowed-images/Chelsea_FC_logo_chrest_logotype.png);
}
.col-sm-11#Manchester-City {
  background-image: url(Borrowed-images/Manchester_City_crest_logo_logotype_emblem.png);
}
.col-sm-11#Liverpool {
  background-image: url(Borrowed-images/Liverpool_FC_logo_gradient.png);
}
.col-sm-11#Manchester-United {
  background-image: url(Borrowed-images/Manchester_United_logo_logotype_crest.png);
}
.text-block {
  position: absolute;
  width: 100%;
  top: 65%;
  background-color: rgb(86, 169, 162);
  color: white;
}
.text-block > p {
  text-align: center;
  margin-bottom: 0;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(102, 102, 102);
  color: white;
  text-align: center;
  border-top: 3px solid rgb(86, 169, 162);
}
